.btn-edit {
    color: #ffc107;
}
.btn-delete {
    color: $primary;
}

.btn-view {
    color: $bule;
}
.btn-expire{
    color: #dc3545;
}
.btn-page-mail{
    background-color: #4ba0d2;
    border-radius: 20px;
    width:200px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}
.btn-w-50{
    width: 50%;
}